# Logs
logs
*.log
pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional pnpm cache directory
.pnpm

# dotenv environment variable files
.env

# ide
.vscode

# build / generate output
dist

# vuepress v2.x temp directory
.temp

# Drizzle db
drizzle/